body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiAlert-filledWarning {
  background-color: rgba(234, 85, 183, 0.6) !important;
}

.MuiAlert-filledInfo {
  background-color: rgba(76, 147, 253, 1) !important;
}

.MuiAlert-filledError {
  background-color: rgba(131, 0, 0, 1) !important;
}

.MuiAlert-filledSuccess {
  color: #333F4F !important;
  background-color: rgba(160, 238, 83, 0.8) !important;
}